[build]
  command = "pip install --upgrade pip setuptools wheel && pip install -r requirements.txt"
  publish = "frontend-react/build"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
